* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #6495ED;
    --bg2:#CCCCFF;
    --header: #DE3163;
    --text: #1C2833;
    --white: #fff;
}

body {
    font-family: monospace;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg2);
}

.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;    
}

.logo {
    width: 300px;
}

.logo img {
    width: 100%;
}

.sale-page {
    background-color: var(--header);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.sale-page a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 250px;
    background-color: var(--text);
    color: var(--white);
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gallery */
.gallery {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
}

.gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.gallery-item:last-of-type {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

/* footer */
footer {
    width: 100%;
    background-color: var(--text);
    color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-item h3 {
    color: #DE3163;
    font-size: 20px;
}
.footer-item p {
    font-size: 18px;
    margin-top: 10px;
}