* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #6495ED;
    --bg2:#CCCCFF;
    --primative2: #DE3163;
    --primative1: #1C2833;
    --white: #fff;
}

body {
    font-family: monospace;
    background-color: var(--bg2);
    color: var(--white);
}

.container {
    width: 50%;
    margin: 200px auto;
    background-color: var(--primative1);
    padding: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title p {
    font-size: 30px;
}

.title a {
    font-size: 30px;
    color: var(--bg1);
    text-decoration: none;
}


table {
    width: 100%;
}

th, td {
    border: var(--white) solid 1px;
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
}

td:first-of-type {
    text-align: left;
}

td:last-of-type {
    background-color: var(--primative2);
}